[submodule "janus-core/unimpaired"]
	path = janus-core/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "janus-core/nerdcommenter"]
	path = janus-core/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "janus-langs/haml"]
	path = janus-langs/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "janus-langs/javascript"]
	path = janus-langs/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "janus-langs/cucumber"]
	path = janus-langs/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "janus-langs/markdown"]
	path = janus-langs/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "janus-langs/puppet"]
	path = janus-langs/puppet
	url = https://github.com/ajf/puppet-vim.git
[submodule "janus-langs/scala"]
	path = janus-langs/scala
	url = https://github.com/bdd/vim-scala.git
[submodule "janus-langs/handlebars"]
	path = janus-langs/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "janus-tools/matchit"]
	path = janus-tools/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "janus-tools/supertab"]
	path = janus-tools/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "janus-tools/snipmate"]
	path = janus-tools/snipmate
	url = https://github.com/ervandew/snipmate.vim.git
[submodule "janus-command-t/command-t"]
	path = janus-command-t/command-t
	url = git@github.com:wycats/Command-T.git
[submodule "janus-colors/sampler-pack"]
	path = janus-colors/sampler-pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "janus-tools/zoomwin"]
	path = janus-tools/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "janus-langs/coffeescript"]
	path = janus-langs/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "janus-langs/git"]
	path = janus-langs/git
	url = git://github.com/tpope/vim-git.git
